

body {
    background: #000;
    opacity: 0.9;
    color: #ededed;
    padding: 30px;
    font-size: 18px;
}

.themetoggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ededed;
    transition: 0.3s;
}

    .themetoggle:hover {
        color: #00abf0;
    }

/* Light Mode */
.light-mode {
    background: #fff;
    color: #000;
}
    .light-mode .bar a {
        color: #000;
    }
.light-mode .contact{
    color:#000;
    background-color:cornflowerblue;
}
.light-mode .contact h1 span{
    color:black;
}
.light-mode form{
    background-color:white;
}
    .light-mode .navbar{
        background-color: #ddd;
        
    }
    .light-mode .about{
        background-color:palevioletred;
    }
    .light-mode .about h1 span{
        color:black;
    }
    .light-mode .skills{
        background-color:white;
    }
    .light-mode .skills h2{
        color:black;
    }
    .light-mode .theme-toggle {
        color: #000;
    }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #081b29;
    
}

.bar {
    display: flex;
    gap: 15px;
}

    .logo a, .bar a {
        text-decoration: none;
        color: #ededed;
        font-size: 18px;
        transition: 0.3s;
    }

        .logo a, .bar a:hover {
            color: #00abf0; 
        }
        /* ....Home.... */
 h2{
    text-shadow: 5px 5px 5px #00abf0;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

    .container img {
        width: 50%;
        height: auto;
    }
.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    text-decoration: none;
    color: #00abf0;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 10%;
}
.container .icons {
    color: #00abf0;
    cursor: pointer;
    display: flex;
    gap: 15px;
}


    .icons a:hover {
        background-color: #00abf0;
        color: #081b29;
    }

button {
    background-color: #081b29;
    color: #00abf0;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #00abf0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

    button:hover {
        background-color: #00abf0;
        color: #081b29;
    }
    /* ....About Me.... */
.about {
    padding: 50px;
    text-align: center;
    background-color: #112e42;
    font-weight: bold;
    font-size:20px;
    display:block;
    margin-top:10px;
}

section img {
    width: 15%;
    border-radius: 50%;
    border: 2px solid #00abf0;
    height:130px;
}
.skills {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
}

    .skills h2 {
        font-size: 24px;
        color: #ededed;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .skills ul {
        list-style: none;
        padding: 0;
    }

    .skills li {
        font-size: 18px;
        background: #081b29;
        color: white;
        padding: 10px;
        margin: 25px 0;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
    }

        .skills li:hover {
            background: #00abf0;
            transform: scale(1.05);
        }
/* ....Contact Me....*/
.contact {
    padding: 50px;
    text-align: center;
    background-color: #27435c;
    font-size: 20px;
    font-weight: bold;
}
    .about h1 span, .contact h1 span {
        color: #00abf0;
    }

input[type="text"], input[type="email"], textarea {
    width: 50%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #00abf0;
    border-radius: 5px;
    color: #00abf0;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 90px;

}
label {
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 10px 0 5px;
    font-size:18px;
}
form {
    background: #000; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}
.skills {
    background: #000;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
}

    .skills h2 {
        font-size: 24px;
        color: #ededed;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .skills ul {
        list-style: none;
        padding: 0;
    }

    .skills li {
        font-size: 18px;
        background: #081b29;
        color: white;
        padding: 10px;
        margin: 25px 0;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
    }

        .skills li:hover {
            background: #00abf0;
            transform: scale(1.05);
        }
